<meta name="viewport" content="width=device-width, initial-scale=1">

<div data-role="page">

  <div data-role="header">
         <h1>Users</h1>
  </div><!-- /header -->

  <div id="main-region" data-role="content">

  </div><!-- /content -->

  <div data-role="footer">
    <h4>Page Footer</h4>
  </div>

</div><!-- /page -->

<script type="text/javascript">
Groominati.start();
</script>
