<h1>Create Review</h1>
<form>
<div class="field">
    <label for="title">Title</label><br />
    <input id="title" name="review[title]" size="30" type="text"/>
  </div>
  <div class="field">
    <label for="content">Content</label><br />
    <input id="content" name="review[content]" size="30" type="text"/>
  </div>
  <div><button class="submitButton" id="createReviewSubmit" type="button">Submit</button></div>
</form>