<h1>Edit Review</h1>
<form>
<div class="field">
    <label for="title">Title</label><br />
    <input id="title" name="review[title]" size="30" type="text" value=<%= model.get('title') %> />
  </div>
  <div class="field">
    <label for="content">Content</label><br />
    <input id="content" name="review[content]" size="30" type="text" value=<%= model.get('content') %> />
  </div>
  <div><button class="submitButton" id="editReviewSubmit" type="button">Submit</button></div>
</form>