<td><%= model.escape('title') %></td>
<td><%= model.escape('content') %></td>
<td><%= model.escape('created') %></td>
<td><a class="showReview" href="#">show<a></a></td>
<td><a class="editReview" href="#">edit</a></td>
<td><a class="deleteReview" href="#">destroy</a></td>


