<h1>Posts</h1>

<table>
 <tr>
    <th>Title</th>
    <th>Completed</th>
    <th>Created</th>
  </tr>
 <!-- child content will be rendered here -->
</table>
<a class="createReview" href="#">Create Review</a>
<button id="getUsersButton">Get Users</button>